---
layout: default
---

<div class="row-fluid">
	<div class="span9">

		{% for post in paginator.posts %}
		<div class="post">
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

			<p>
				{{ post.excerpt }}
				<a href="{{ post.url }}" class="btn btn-link">read more</a>
			</p>
		</div>
		{% endfor %}
		<ul class="pager">
			{% if paginator.previous_page_path %}
				<li class="previous active"><a href="{{ paginator.previous_page_path }}">&larr; Older</a></li>
			{% else %}
				<li class="previous disabled"><a href="#"> &larr; Older</a></li>
			{% endif %}

			{% if paginator.next_page_path %}
				<li class="next active"><a href="{{ paginator.next_page_path }}">Newer &rarr;</a></li>
			{% else %}
				<li class="next disabled"><a href="#">Newer &rarr;</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="span3">

{% include post-list.html %}
<br />
{% include site-tags.html %}

	</div>
</div>
<div>
	Authors:
</div>
