<hr>
<div class="developers row-fluid">
	<div class="span1">
		<img src="https://secure.gravatar.com/avatar/ecfb6c3616223805b43881e2f62e28ea?s=120" class="img-circle">
	</div>
	<div class="span5">
		<h3 class="text-orange">Łukasz Stypka</h3>

		<p>Lorem ipsum dolor sit amet neque ante, tincidunt vel, hendrerit eget, suspendisse potenti. Cras
			elementum.</p>
	</div>

	<div class="span1">
		<img src="https://secure.gravatar.com/avatar/3c4678ebfc766024c3ebd01c9db323bb?s=120" class="img-circle">
	</div>
	<div class="span5">
		<h3 class="text-orange">Tomasz Kuryłek</h3>

		<p>Lorem ipsum dolor sit amet neque ante, tincidunt vel, hendrerit eget, aliquet ac, eros. Maecenas
			mi vitae odio non eros.</p>
	</div>
</div>