---
layout: default
---
{% assign author = site.data.members | where: "name", page.author | first %}
<div class="row-fluid">
	<div class="span9">
		<div class="post">
			<h1>{{ page.title }}</h1>
			<p>{{ content }}</p>

			<div class="post-footer">
				<p>{% unless author.nil? %} Posted by <a href="https://github.com/{{ author.github }}"> {{ author.name }}</a>
					{% endunless %} on {{page.date | date: "%B %-d, %Y" }}</p>
			</div>
		</div>
	</div>
	<div class="span3">
		{% include related.html %}
		{% include post-tags.html %}
	</div>
</div>